/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .options {
        display: none;
    }
    .menu {
        display: block;
    }
    .navbar {
        max-width: 898px;
    }
    .hero-section,.hot-topics,.editors-choice,footer{
        max-width: 898px;
    } 
    .popular-tags{
        max-width: 800px;
    }

}
@media (max-width: 995px) {
    .navbar {
        max-width: 688px;
    }
    .hero-section {
        max-width: 688px;
        flex-direction: column;
        align-items: center;
    }
    .hot-topics{
        max-width: 688px;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
    }
    .first-display,
    .second-display {
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
}
@media (max-width: 770px) {
    .navbar,.hero-section,.hot-topics,.editors-choice,.popular-tags,footer{
        max-width: 510px;
    }
}
@media (max-width: 575px) {
    .navbar,.hero-section {
        margin: 0;
        max-width: 542px;
    }
    .topic2,
    .topic3 {
        display: none;
    }
    .social-links {
        width: 90%;
    }
    .email-input {
        width: 90%;
    }
}
@media (max-width: 475px) {
    .introh1{
        display: block;
        margin-bottom: 15px;
    }
}

@media (min-width : 1200px) {
    .mob_navbar {
        display: none;
    }
}




