*{
    margin: 0;
    padding:0;
    line-height: 24px;
    font-size: 16px;
    font-family:"noto sans",sans-serif;
}
p{
    color:rgb(125, 145, 176);
}
body{
    width:100%;
    height:3000px;
    background-image: radial-gradient(
        circle at 200px 650px in hsl shorter hue,
        rgb(16, 74, 101) 0%,
        rgba(15, 23, 41) 10%
      ); 
    background-color: rgba(15,23,41);
}
header{
    padding: 24px 0px;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: rgba(15,23,41);
    z-index: 5;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:178px;
    margin-right: 178px;
    min-width: 350px;
    max-width:1100px;
    padding-left: 16px;
    padding-right: 16px;
    color:rgb(125, 145, 176);   
}

.logo{
    flex: 1;
    /* width:120px; */
}
.logo img{
    width:120px;
}
.logo img:hover{
    cursor: pointer;
}
.options{
    flex: 2;
    /* padding: 0 120px; */
    min-width: 400px;
}
.options ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-shrink: 0;
}
.options ul li{
    flex-shrink: 0;
    transition: color ease-in-out 0.5s;
}
.options ul li:hover{
    cursor: pointer;
    color:rgb(14, 165, 234);
}
.nav-right{
    flex: 1;
    /* width: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 40px; */
}
.subscribe-btn{
    color:white;
    background-image: linear-gradient(90deg, rgb(14, 165, 234),rgb(11, 209, 209) 51% ,rgb(14, 165, 234));
    padding: 4px 6px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;  
    background-size: 200% 100%; /* Make the background twice as wide */
    background-position: center; /* Center the gradient */
    transition: background-position 0.3s ease-in-out; 
}

.subscribe-btn:hover{
    cursor: pointer;
    background-position: left;
}

.menu{
    display: none; 
}
.menu i{
    font-size: 35px;
}



@media (max-width:1050px)
{
    .options{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media(max-width:690px)
{
    .navbar{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    } 
}
@media(max-width:350px)
{
    .navbar{
        flex-shrink: 0;
    }
}